body {
  width: 100%;
  height: 100%;
  background-color: #e8efef;
  margin: 0;
}

* {
  margin: 0;
}

.header .navbar {
  background-color: transparent !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  padding: 10px;
  color: #8aa6aa;
  background-image: url(./fondofloresclaro.jpg);
}

.imagen {
  border: 4px double #95c5c1;
  border-radius: 50%;
}

.solange {
  width: 200px;
}

.cuadrado {
  margin: 0%;
  border-top: 15px double rgba(135, 192, 187, 0.884);
  border-bottom: 15px double rgb(135, 192, 187, 0.884);
  font-size: 20px;
  font-family: "Cedarville Cursive", cursive;
  color: #88b4b5;
  background-color: #ffeee394;
  padding-left: 150px;
  padding-bottom: 70px;
  padding-top: 70px;
  width: 100%;
}

.cuadrado2 {
  margin: 0%;
  padding-top: 50px;
  color: #e29578;
  background-color: #e8efef;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 25px;
}

.cuadrado3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  background-color: #e8efef;
  color: #89b5b6;
  margin: 0%;
}

.cuadrado4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 30px;
  color: #e29578;
  margin: 0%;
  padding-left: 25px;
  padding-bottom: 40px;
}

.img3,
.img2,
.img4 {
  width: 55px;
}

.ul2,
ol {
  list-style: none;
  line-height: 2.5;
}

#contacto,
#sobreMi,
#inicio {
  color: #db8fb0;
}

#selection1,
#selection2 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 60px;
  font-weight: bold;
  color: #e29578;
  margin: 0;
}

#selection3 {
  font-size: 60px;
}

footer {
  margin: 0%;
  background-image: url(./fondofloresclaro.jpg);
  background-repeat: repeat;
  border-top: 15px double rgba(135, 192, 187, 0.884);
  height: 250px;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 100px;
}

.columna1 {
  text-align: center;
  width: 60vh;
}

.columna2,
.columna3 {
  text-align: center;
}
